@inherits LayoutComponentBase

<header class="px-24 py-4 shadow relative">
    <h1 class="text-xl font-bold">Where in the world?</h1>
</header>

<main role="main" class="bg-neutral-100 flex-1 px-24 py-12">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>